<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplified.text.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.DashbordActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".Activities.MeaningDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.NotesDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.SearchPopup"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>

        <service android:name=".Services.CBWatcherService" />

        <receiver
            android:name=".Receivers.TextCopyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="simplified.textcopied"></action>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Receivers.MicClilckedForAudio"
            android:enabled="true">
            <intent-filter>
                <action android:name="mic_click"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>